.rss-container {
    margin: auto;
}
#rss {
    background: rgb(199, 254, 255);
    background: -moz-linear-gradient(
        0deg,
        rgba(199, 254, 255, 1) 37%,
        rgba(255, 254, 232, 0) 100%
    );
    background: -webkit-linear-gradient(
        0deg,
        rgba(199, 254, 255, 1) 37%,
        rgba(255, 254, 232, 0) 100%
    );
    background: linear-gradient(
        0deg,
        rgba(199, 254, 255, 1) 37%,
        rgba(255, 254, 232, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#c7feff",endColorstr="#fffee8",GradientType=1);
}
