@media (max-width: 767px) {
    #gave .text-center {
        text-align: left !important;
    }
}
#gave {
    background: url("https://www.xmple.com/wallpaper/yellow-gradient-linear-white-1920x1080-c2-ffd700-ffffff-a-60-f-14.svg")
        center center / cover no-repeat;
    color: purple;
}
