#intro {
    background: rgb(255, 127, 0);
    background: -moz-linear-gradient(
        180deg,
        rgba(255, 127, 0, 1) 0%,
        rgba(255, 248, 193, 1) 45%,
        rgba(255, 254, 232, 1) 100%
    );
    background: -webkit-linear-gradient(
        180deg,
        rgba(255, 127, 0, 1) 0%,
        rgba(255, 248, 193, 1) 45%,
        rgba(255, 254, 232, 1) 100%
    );
    background: linear-gradient(
        180deg,
        rgba(255, 127, 0, 1) 0%,
        rgba(255, 248, 193, 1) 45%,
        rgba(255, 254, 232, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00",endColorstr="#fffee8",GradientType=1);
    min-height: 100vh;
    color: #462e1a;
    & h1 {
        font-size: 5rem;
    }
}
