$color--brown: #d48c4d;
body {
    color: $color--brown;
    font-size: 20px;
    width: 100vw;
}
html,
body {
    position: relative;
    overflow-x: hidden;
}
.heartbeat {
    animation: heartbeat 1.5s infinite forwards ease-in-out;
}
.vipps {
    animation: vipps 3s infinite forwards ease-in-out;
}

.coronaparticle {
    position: absolute;
    display: block;
    user-select: none;
    overflow: hidden;
    pointer-events: none;
}

div {
    box-sizing: border-box;
}

@media screen and (max-height: 500px) {
    .hideonsmheight {
        display: none;
    }
}
@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.05);
    }
    40% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes vipps {
    0% {
        transform: scale(1) translateY(0);
    }
    25% {
        transform: scale(1.01) translateY(-0.2rem);
    }
    40% {
        transform: scale(1) translateY(0);
    }
    60% {
        transform: scale(1.01) translateY(-0.2rem);
    }
    100% {
        transform: scale(1) translateY(0);
    }
}

/* Cards */
.shadow {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

/* Backgrounds */
.bg-faded-brown {
    background: rgba($color--brown, 0.1);
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
p {
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
h1 {
    font-size: 4rem;
    font-weight: bold;
    line-height: 3.7rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
    font-weight: bold;
}
h4 {
    font-size: 1rem;
    font-weight: bold;
}
p {
    max-width: 30rem;
    margin: auto;
    &.author {
        font-weight: bold;
        font-size: 130%;
    }
}
.subtitle {
    font-size: 25%;
    font-weight: normal;
    letter-spacing: 0.1em;
}

.app {
    max-width: 100vw;
    position: relative;
    overflow-x: hidden;
}

.App-logo {
    height: 5rem;
    pointer-events: none;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
